body{
    padding-bottom: 500px;
}

/* 1 - flex */
.flex{
    display: flex;
    background-color: #a8a8a8;
    margin-bottom: 20px;
}

/* 2 - flex direction - column  */
.flex-column{
   display: flex;
   background-color: #ccc;
   flex-direction: column;
   margin-bottom: 20px;
}

/* 3 - flex wrap */
.wrap{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.box{
    height: 50px;
    width: 33%;
    border: 1px solid #02c222;
}

/* 4 - justify content */
.center,
.space-around, 
.space-between, 
.end{
    display: flex;
    margin-bottom: 20px;
}

.center{
    justify-content: center;
}

.center .box,
.space-around .box, 
.space-between .box, 
.end .box{
    width: 50px;
}

.space-around{
    justify-content: space-around;
}

.space-between{
    justify-content: space-between;
}

.end{
    justify-content: end;
}

/* align items */
.align-center,
.flex-end, 
.stretch{
    display: flex;
    margin-bottom: 20px;
    height: 200px;
    border: 1px solid red;
}

.align-center .box,
.flex-end .box, 
.stretch .box{
    width: 50px;
}

.align-center{
    align-items: center;
    justify-content: center;
}

.flex-end{
    align-items: flex-end;
}

.stretch{
    align-items: stretch;
}

.stretch .box{
    height: auto;
}

/* gap */
.gap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid darkorchid;
    gap: 200px;
}

.gap .box{
    width: 32%;
}

/* order */
.order{
  display: flex;
}

#three{
    order: 3;
}

#one{
    order: 1;
}

#two{
    order: 2;
}

/* grow */
.grow{
    display: flex;
}

.grow .box{
    flex: 1;
}

.grow .big{
    flex:  2;
}

/* basis */
.basis{
    display: flex;
}

.basis .box{
    flex-basis: 20px;
}

.basis .big{
    flex-grow: 1;
}

/* shrink */
.shrink{
    display: flex;
}

.shrink .box{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 250px;
    width: auto;
}

.shrink .small{
    flex-shrink: 2;
}

/* flex shorthand */
.shorthand{
    display: flex;
}

.shorthand .box{
    width: auto;
    flex: 1 1 50px;
}

.shorthand .diferente{
    flex:  3 1 400px;
}

/* auto alinhamento */
.auto-alinhamento{
    height: 300px;
    display: flex;
    align-items: flex-end;
    border: 1px solid rgb(17, 17, 17);
}

.auto-alinhamento .diferente{
    align-self: flex-start;
}