*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #444;
    transition: .3s;
}

a:hover{
    color: #3400c2;
}

#navbar{
  padding: 1.5rem 2.5rem;  
  border: 2px solid #ddd;
}  

.navbar-inner{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}    

#nav-links{
    display: flex;
    gap: 1rem;
}    

.container{
    display: flex;
    gap: 3rem;
    padding: 2rem 1.5rem;
    max-width: 1200px;
    margin: 0 auto;
}

#posts-container{
    flex: 3 1 0;
}

.post{
    margin-bottom: 2.5rem;
}

.post img{
    width: 100%;
    margin-bottom: 1rem;
}

.title,
.descricao,
.author{
    margin-bottom: 1rem;
}

.title{
    font-size: 2rem;
}

.author{
    color: #333;
    font-weight: bold;
}


#sidebar{
    flex: 1 1 0;
}

#search-bar,
#musicas,
#tags{
    padding: 1.5rem;
    border: 1px solid #ddd;
    margin-bottom: 1rem;
}

#search-bar h4,
#musicas h4,
#tags h4{       
    margin-bottom: 1.5rem;
    font-size: 1.6rem;
}

#search-bar form{
    display: flex;
}

#search-bar input{
    padding: .5rem 1rem;
    border: 1px solid #ddd;

}

#search-bar input[type="submit"]{
    background-color: #3400c2;
    color: #fff;
    cursor: pointer;
    border: none;
}

#search-bar input[type="submit"]:hover{
    background-color: #4a0fee;
}

#musicas li{
   margin-bottom: 1rem;
}

#tags-container{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

#tags-container a{
    background-color: #ddd;
    padding: .5rem .7rem;
    border-radius: .3rem;
}

#rodape{
    border-top: 2px solid #ddd;
    padding: 3rem;
    text-align: center
}

#rodape h2,
#rodape p{
    margin-bottom: 1rem;
}

@media (max-width: 700px){
    .container{
        flex-wrap: wrap;
    }
}